@model IList<HomeUnknown.Models.EventModel>
@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";

}


<!DOCTYPE html>
<html lang="en" ng-app="homeUnknown">
<head>
    <meta charset="utf-8" />
    <title>Home Unknown</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Content/js/AnimOnScroll.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
    <script src="~/Content/js/classie.js"></script>
    <link href="~/Content/js/component.css" rel="stylesheet" />
    <link href="~/Content/css/default.css" rel="stylesheet" />
    <script src="~/Content/js/modernizr.custom.js"></script>
    <script src="~/Content/js/imagesloaded.js"></script>
    <script src="~/Content/js/masonry.pkgd.min.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <link href="~/Content/css/site.css" rel="stylesheet" />

    <script src="~/Scripts/HomeUnknown.js"></script>


    <script type="text/ng-template" id="timelines.html">
        <div class="people-list">
            <ul class="list-inline timeline-list">
                <li class="list-inline" ng-repeat="timeline in timelines">
                    <a href="#/events/{{timeline.id}}"><img src="{{timeline.pictureURL}}" /></a>
                    <p>{{timeline.name}}</p>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="events.html">
        <div class="container">
            <div class="row">
                <ul class="events-list list-inline">
                    <li ng-repeat="event in events">
                        <a href="#/contents/{{event.id}}/{{event.timelineId}}"><div></div></a>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="contents.html">
        <div class="container">
            <div class="row">
                <ul class="events-list list-inline">
                    <li ng-repeat="event in events">
                        <a href="#/contents/{{event.id}}/{{event.timelineId}}"><div></div></a>
                    </li>
                </ul>
            </div>
            <div class="row" id="content-panel">
                <ul class="contents-list list-inline grid.effect2" id="grid">
                    <li ng-repeat="content in contents"><div data-title="{{content.name}}" data-desc={{content.NoteText}} data-type={{content.ContentType}} data-url="{{content.contentURL}}"><p>{{content.name}}</p></div></li>
                </ul>
                <button class="add-new-content btn btn-default" data-event="eventID" data-toggle="modal" data-target="#add-content-modal">Add Content</button>
            </div>
            <div class="modal fade" id="add-content-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add New Content</h4>
                        </div>
                        <div class="modal-body">
                            <form id="add-content-form" class="form-horizontal" role="form" ng-submit="addContent()">
                                <input type="hidden" name="eventid" value="{{eventID}}" />
                                <div class="form-group">
                                    <label for="name" class="control-label col-sm-4" style="text-align:center">Content Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="Name" name="name" id="contentname" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contenttype" class="control-label col-sm-4" style="text-align:center">Content Type</label>
                                    <div class="col-sm-8">
                                        <select name="contenttype" class="form-control">
                                            @foreach (var item in (ContentType[])Enum.GetValues(typeof(ContentType)).Cast<ContentType>())
                                            {
                                            <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="notetext" class="control-label col-sm-4" style="text-align:center">Text/Description (optional)</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="notetext" id="text" class="form-control" placeholder="Description" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contenturl" class="control-label col-sm-4" style="text-align:center">Content URL (optional)</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="contenturl" id="url" placeholder="URL" class="form-control" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" form="add-content-form" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade" id="content-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title content-modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <iframe hidden src="//player.vimeo.com/video/VIDEO_ID" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <img class="content-image" hidden />
                            <p class="content-modal-text"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close-content-modal" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </script>

</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Home Unknown</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" target="_blank">Welcome Stephen</a></li>
                    <li><a href="#" target="_blank"><i class="glyphicon glyphicon-inbox"></i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <button class="btn btn-lg" style="float:right" data-toggle="modal" data-target="#myModal">Add an Event</button>
    <div id="timelinejs" style="max-height:220px; clear: both" hidden></div>
    <div>

        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add New Event</h4>
                    </div>
                    <div class="modal-body">
                        <form id="add-event-form" class="form-horizontal" role="form" ng-submit="addEvent()">
                            <input type="hidden" name="timelineid" value="06AE6ABB-0296-4F10-B6AF-3B13FE9B4FCF" />
                            <div class="form-group">
                                <label for="name" class="control-label col-sm-4" style="text-align:center">Event Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Name" name="name" id="eventname" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="control-label col-sm-4" style="text-align:center">Location</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Location" name="location" id="location" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="year" class="control-label col-sm-4" style="text-align:center">Date</label>
                                <div class="col-sm-8">
                                    <input type="text" name="year" id="eventyear" class="form-control" placeholder="Date" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" form="add-content-form" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

    </div>
    <div class="container">
        <div class="row">
        </div>
        <script type="text/javascript">
            //function createTimelineObject(headline, startDate, text, id) {
            //    return {
            //        //"headline": headline,
            //        //"type": "default",
            //        "date":[
            //            {
            //                startDate: startDate,
            //                headline: headline,
            //                text: text,
            //                asset: {
            //                    id: id
            //                }
            //            }]
            //    }
            //}



            var eventObjects = [];

            eventObjects = @Html.Raw(Json.Encode(Model));

            var arrayOfOutputEventHashes = [];

            @foreach(var i in Model) {
                <text>var outputEventHash = {
                headline: "@i.Name",
                text: "@i.Name",
                startDate: "@i.Date",
                asset: {
                    id: "@i.Id"
                }
            };
            arrayOfOutputEventHashes.push(outputEventHash);</text>
            }

            var finalOutputHashForTimelineJS = {

                "timeline":
                {
                    //"headline":"Home Unknown",
                    "type":"default",
                    "text":"<p>Intro body text goes here, some HTML is ok</p>",
                    "date": arrayOfOutputEventHashes
                }
            }

            var timeline_config = {
                width: '100%',
                height: '600',
                source: finalOutputHashForTimelineJS,
                embed_id: 'timelinejs',               //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
                start_at_end: false,                          //OPTIONAL START AT LATEST DATE
                start_at_slide: '4',                            //OPTIONAL START AT SPECIFIC SLIDE
                start_zoom_adjust: '3',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
                hash_bookmark: true,                           //OPTIONAL LOCATION BAR HASHES
                font: 'Bevan-PotanoSans',             //OPTIONAL FONT
                debug: true,                           //OPTIONAL DEBUG TO CONSOLE
                lang: 'fr',                           //OPTIONAL LANGUAGE
                maptype: 'watercolor',                   //OPTIONAL MAP STYLE
            }
        </script>
        <script src="http://homeunknown.collabaxis.com/demos/timeline-steve_t2.js"></script>
        @*<script src="~/Scripts/timeline-steve.js"></script>*@
        <script type="text/javascript">
            $(document).ready(function () {
                $('body').on('click', '.contents-list > li > div', function () {
                    $('.content-modal-title').html($(this).data('title'));
                    if ($(this).data(type) === "2") {
                        $('.modal-body > iframe').attr('src', $(this).data('url'));
                        $('.modal-body > iframe').show();
                    }
                    $('.modal-body > img').attr('src', $(this).data('url'));
                    $('.modal-body > img').show();
                    $('#content-modal').modal('show');
                });

                $('body').on('click', '.close-content-modal', function () {
                    $('.modal-body > video > source').hide();
                    $('.modal-body > img').hide();
                });

                WireUpEventButton();
            });

            function WireUpEventButton(){
                
                $("#myModal").bind("click",function(e){
                    e.preventDefault();

                    var formData = $("#add-event-form").serialize();

                    $.post('/api/events', formData).done(function (data) {
                        alert(data);
                    });
                });
            }

        </script>
        <div class="row clearfix" ng-view>

        </div>
    </div>


</body>



</html>
